@using Utilities;
@using MyClinic.Resources  
@model MyClinic.Models.PatientOperationModels

@{
    var host = Utilities.Common.host;
}          
<table class="rpt-tbl nbdr notfound" style="width: 100%;">
    <tbody>
        <tr>
            <td><h3>@Translator.NotFound</h3></td>
        </tr> 
    </tbody>
</table>

