<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="EntityFrameworkDB" connectionString="Vm4PRimIjpbt3Iu7yV/Ig+ctQzXQ0EAsNMj7sXPPyLP2D/mOLX+Lfey2wM1Ih5Sw25w77LobP85TJ3ipkc+5hPPDUD/zRw3TYAUAqiop2p0ZoDQw6xspVpDUY3fblYcS78Dyj6JAEtYKMbINlnj6Jd7PGP9u71Nyev/dOaH37Qs=" providerName="System.Data.SqlClient" />
    <!--<add name="EntityFrameworkDB" connectionString="fmEHidc034R6EfxrWeln6OeLoyyQPkpFZA413nAPMNHbkXIFQOTSv+aMgsPOQh/i0y3Q7/knFgzaQ3jsWDWu5LC/LTEXBaIvmZtEM3ENiaEOxLaW5ZgtwFNd0lA3TNwS9fMSrikgCyoAjjeiDiellY0yHWkECL4fGQbCa7rUn64=" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Set the value for permit to edit pawn-->
    <add key="Permit:EditPawn" value="1" />
    <!-- Verson of source such as css, js or image-->
    <add key="Source:Version" value="1" />
    <!-- Url of source of icon-->
    <add key="Icon:Url" value="/Content/images/favicon.ico"/>
    <!-- Path server for store source-->
    <add key="Server:One" value="D:\MyProjects\MyPawnShop\MyPawnShop\Uploads" />
    <!-- Path current server for store source-->
    <add key="CurrentServer" value="D:\MyProjects\MyPawnShop\MyPawnShop\Uploads" />
    <!-- Sub path of backup source-->
    <add key="Back:PhotoPath" value="\Uploads\Backup" />
    <!-- Sub path of temporary source for upload-->
    <add key="Temp:PhotoPath" value="\Uploads\Temp" />
    <!-- Sub url of temporary source for upload-->
    <add key="Temp:PhotoUrl" value="/MyPawnShop/Uploads/Temp" />
    <add key="Db:BackupPath" value="D:\DbBackup" />
    <add key="Db:BackupTime" value="13:18:00|18:00:00" />
    <add key="Db:BackupPeriod" value="10 Days" />
    <add key="license_key" value="TFKlqcDdy/u07aTmrawABu/UmBaHDkAxp3fN3VRNMnPCi5yrMqr4T5OuUhRyhx2zvHPClifMzRa2D+Z7udtPevORcaqJsPll6XdXPOm+GVOQMwAZw6IisO/qNjsHviSJL8XV9hHAx9Dxfo8tOaDVVdFek+WcDk3WdfpOhgEzGTBld2MBGjylX+X/jkFu8ghqK15zBCo6SUfYGzFjaFn6Jr4lRAjLzQ2MeYvNMt8dVntGj9RtQkKy59UdAfUcTqJBk+cpDOazCttroj6iMCKC3mp/wp0DU3hYP3/UiwGa+3jSDRO9XeIB3Jah4b2jG81q+z0T3qAHIBOh8CcJUuKmk3Ed8jv39c3TTcGYgCSnz68="/>
  </appSettings>
  <log4net>
    <root>
      <level value="Debug" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="System/Log/system.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ProcessLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="System/Log/process.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="512KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="FailedProcessLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="System/Log/failed_process.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="512KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ExternalPaymentProcessLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="System/Log/ExternalPaymentProcess.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="512KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %logger - %message%newline" />
      </layout>
    </appender>
    <logger name="SystemLog">
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </logger>
    <logger name="ProcessLog">
      <level value="INFO" />
      <appender-ref ref="ProcessLogFileAppender" />
    </logger>
    <logger name="FailedProcessLog">
      <level value="INFO" />
      <appender-ref ref="FailedProcessLogFileAppender" />
    </logger>
    <logger name="ExternalPaymentProcessLog">
      <level value="INFO" />
      <appender-ref ref="ExternalPaymentProcessLogFileAppender" />
    </logger>
  </log4net>
  <system.web>
    <!--Maximum image upload at a time-->
    <httpRuntime maxRequestLength="102400" />
    <!--Set idle timeout-->
    <sessionState timeout="1440"></sessionState>    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>